.action-bar {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trip-detail-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.trip-detail-card {
  width: 700px;
  border-radius: 16px;
  overflow: hidden;
  background: #1e1e1e; // พื้นหลังการ์ดเข้ม
  color: #f5f5f5;
  box-shadow: 0 2px 8px rgba(12, 137, 3, 0.849);

  mat-card-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #4caf50; // เขียว Material
  }

  mat-card-subtitle {
    font-size: 1rem;
    color: #aaa;
  }

  img {
    max-height: 350px;
    object-fit: cover;
  }

  mat-card-content {
    font-size: 1rem;
    line-height: 1.6;
    padding: 1rem;
  }

  .trip-detail-text {
    margin-top: 1rem;
    font-size: 1rem;
    color: #ddd;
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
  }
}