.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: flex-end;
  padding: 1.5rem;
  border-radius: 12px;
  background: #d1efe1ea;
  box-shadow: 0 2px 8px rgba(12, 137, 3, 0.849);

  .search-field {
    min-width: 220px;
    flex: 1;
  }

  button {
    height: 56px;
    padding: 0 1.5rem;
    font-weight: 600;
  }
}
.add-btn-container {
  text-align: center;
  margin-bottom: 2rem;

  button {
    font-weight: bold;
  }
}

.result-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.trip-card {
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  background: #1e1e1e; // พื้นหลังการ์ดเข้ม
  color: #f5f5f5;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 2px 8px rgba(12, 137, 3, 0.849);
  }

  mat-card-title {
    font-size: 1.2rem;
    font-weight: 600;
  }

  img {
    height: 180px;
    object-fit: cover;
  }
}
html, body {
  height: 100%;
  margin: 0;
  background: #000;   // ดำสนิท
  color: #000000;     // ตัวอักษรสีอ่อน
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Angular ใช้ host ของ component */
